body {
	background: url("tomato.jpg") no-repeat center center fixed;
	background-size: cover;
	cursor: pointer;
}

i {
	user-select: none;
}

i:hover {
	cursor: pointer;
}

button.btn {
	margin: 0 10px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

h1#titleId {
	color: rgba(244, 246, 249, 0.9);
	background-color: rgba(0, 220, 0, 0.2);
	border-radius: 20px;
	margin: 0 15%;
	font-size: 4em;
}

span#timer {
	padding: 0 10px;
}

span#breakTimer {
	padding: 0 10px;
}


.workColor {
	background-color: rgba(10,200,10, 0.5);
	border-radius: 30px;
	font-size: 2.1em;

}

.breakColor {
	background-color: rgba(66, 143, 244, 0.5);;
	border-radius: 30px;
	font-size: 2.1em;

}

.jumbotron.text-center {
	background-color: transparent;
	padding-bottom: 0;
}

.counterRow {
	cursor: default;
	user-select: none;
	color: rgba(244, 246, 249, 0.9);
}

#card {
	padding: 3.5em 0;
}

#timer {
	cursor: default;
	padding: 0 5px;
}

#breakTimer {
	cursor: default;
	padding: 0 5px;
}

#pomoInfo {
	display: none;
}

#hideInfo {
	display: none;
}

#timerBox {
	background-color: rgba(10,200,10, 0.5);;
	height: 140px;
	width: 150px;
	padding: 0px;
	border-radius: 30%;
	
}

#breakBox {
	background-color: rgba(66, 143, 244, 0.5);
	height: 140px;
	width: 150px;
	padding: 0px;
	border-radius: 30%;	
}

#counterBox {
	padding-bottom: 3em;
	/*border-radius: 50px;*/
}

#infoBox {
	color: rgba(244, 246, 249, 0.9);
	background-color: rgba(0, 220, 0, 0.1);
	border-radius: 20px;
	margin-bottom: 60px;
}
